In [26]:
import pandas as pd
import requests as req
import json
import tweepy
import re

# COLETA

###### - Arquivo csv de tweets

In [27]:
tweets_csv = pd.read_csv("twitter-archive-enhanced.csv")

###### - Arquivo csv com as imagens de catioros

In [28]:
url_imagens = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
imagens = pd.read_csv(url_imagens, sep='\t')

###### - Extração de dados de dados através da tweepy

In [29]:
tweepy.api.wait_on_rate_limit = True
tweepy.api.wait_on_rate_limit_notify = True
consumer_key="jDCXqOTGUFOLYhva104lu2mh6"
consumer_secret="WAPwLXLz1nAQj9nlLS3wySdyOkB90MnzilhkbxZfZz7RomxvrA"
access_token="3057900345-XEe3BgtH7PuDg0ExtBFsmrBpBphONnG4SXUUiir"
access_token_secret="ZLgmkF8iBRFb61v341adAnPJwJIb3bgV1FJK0ulYDEdiU"
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

#### O código abaixo extrai os tweets. Processo demorado

In [30]:
#tweets_json = []
#for id_tweet in tweets.tweet_id:
#    try:
#        tweet = api.get_status(id_tweet, tweet_mode='extended')._json
#        tweets_json.append(tweet)
#    except tweepy.TweepError:
#        continue

#### A especifição do projeto fala para o arquivo ser guardado no formato .txt, com os dados de cada tweet sendo escrido em um linha. Eu optei por manter o formato .json

In [71]:
with open("tweets.json","w") as file:
    json.dump(tweets_json, file)

#### Carregamento do json em um dataframe

In [31]:
tweets_json = pd.read_json("tweets.json")[["id","created_at","favorite_count","retweet_count"]]

In [32]:
tweets_json.head()

                   id          created_at  favorite_count  retweet_count
0  892420643555336193 2017-08-01 16:23:56           38055           8323
1  892177421306343426 2017-08-01 00:17:27           32672           6150
2  891815181378084864 2017-07-31 00:18:03           24584           4068
3  891689557279858688 2017-07-30 15:58:51           41411           8470
4  891327558926688256 2017-07-29 16:00:24           39585           9165

# Avaliação

In [33]:
tweets_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [34]:
tweets_csv.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [35]:
tweets_csv.name.value_counts()[:20]

None       745
a           55
Charlie     12
Cooper      11
Oliver      11
Lucy        11
Lola        10
Tucker      10
Penny       10
Winston      9
Bo           9
the          8
Sadie        8
Buddy        7
an           7
Daisy        7
Toby         7
Bailey       7
Leo          6
Oscar        6
Name: name, dtype: int64

In [75]:
tweets_csv.expanded_urls[4]

'https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1'

In [37]:
tweets_csv.retweeted_status_timestamp.str.contains("[a-zA-Z]*").values[15:25]

array([nan, nan, nan, nan, True, nan, nan, nan, nan, nan], dtype=object)

In [38]:
tweets_csv[tweets_csv.rating_numerator < 10].iloc[0]

tweet_id                                                     883482846933004288
in_reply_to_status_id                                                       NaN
in_reply_to_user_id                                                         NaN
timestamp                                             2017-07-08 00:28:19 +0000
source                        <a href="http://twitter.com/download/iphone" r...
text                          This is Bella. She hopes her smile made you sm...
retweeted_status_id                                                         NaN
retweeted_status_user_id                                                    NaN
retweeted_status_timestamp                                                  NaN
expanded_urls                 https://twitter.com/dog_rates/status/883482846...
rating_numerator                                                              5
rating_denominator                                                           10
name                                                                      Bella
doggo                                                                      None
floofer                                                                    None
pupper                                                                     None
puppo                                                                      None
Name: 45, dtype: object

In [39]:
tweets_csv.sort_values(by="rating_numerator").iloc[0]

tweet_id                                                     835152434251116546
in_reply_to_status_id                                                       NaN
in_reply_to_user_id                                                         NaN
timestamp                                             2017-02-24 15:40:31 +0000
source                        <a href="http://twitter.com/download/iphone" r...
text                          When you're so blinded by your systematic plag...
retweeted_status_id                                                         NaN
retweeted_status_user_id                                                    NaN
retweeted_status_timestamp                                                  NaN
expanded_urls                 https://twitter.com/dog_rates/status/835152434...
rating_numerator                                                              0
rating_denominator                                                           10
name                                                                       None
doggo                                                                      None
floofer                                                                    None
pupper                                                                     None
puppo                                                                      None
Name: 315, dtype: object

In [40]:
tweets_csv[tweets_csv.rating_denominator != 10].head(3).iloc[0][5]

"@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho"

## Qualidade 
### Tabela *tweets_csv*

- *timestamp* com o formato errado
- *tweet_id* está com formato diferente de *retweeted_status_user_id* e *retweeted_status_id*
- *name* possui palavras que não são nome próprios - a, an 
- *expanded_urls* está com os valores invalidos
- *expanded_urls* com dados faltantes
- *retweeted_status_timestamp* está com dados inválidos
- *rating_numerator* com valores inválidos
- *rating_denominator* com valores inválidos

## Arrumação
### Tabela *tweets_csv*
- Variáveis como nome de colunas

### Todas as tabelas
- Uma mesma unidade observacional separada em 3 tabelas

# Limpeza

## Qualidade

### `tweets_csv`: Variável *timestamp* com o formato errado

#### Definição: trocar o formato de *timestamp* pra pd.datetime

#### Código

In [41]:
tweets_csv_copy = tweets_csv.copy()

In [42]:
def get_data(string):
    string = string[:10].split("-")
    return pd.datetime(int(string[0]), int(string[1]), int(string[2]))

In [43]:
tweets_csv_copy.timestamp = tweets_csv_copy.timestamp.apply(get_data)

#### Teste

In [44]:
tweets_csv_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null datetime64[ns]
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 313.0+ KB

In [45]:
tweets_csv = tweets_csv_copy.copy()

# -----------------------------------------------------------------------------------------------------------

### `tweets_csv`: tweet_id está com formato diferente de retweeted_status_user_id e retweeted_status_id

#### Definição: colocar as 3 colunas com o formato str

#### Código:

In [49]:
tweets_csv_copy = tweets_csv.copy()

In [47]:
tweets_csv_copy.tweet_id = tweets_csv_copy.tweet_id.astype("str")
tweets_csv_copy.retweeted_status_id = tweets_csv_copy.retweeted_status_id.astype("str")
tweets_csv_copy.retweeted_status_user_id = tweets_csv_copy.retweeted_status_user_id.astype("str")

#### Teste

In [50]:
tweets_csv_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null datetime64[ns]
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 313.0+ KB

# --------------------------------------------------------------------------------------------------

### `tweets_csv`: *name* possui palavras que não são nomes próprios - a, an

#### Definição: Trocar os nomes *a* e *an* por nan

#### Código

In [62]:
tweets_csv_copy = tweets_csv.copy()
tweets_csv_copy.name.replace(to_replace=["a","an"],value=pd.np.nan, inplace=True)

#### Teste

In [64]:
tweets_csv_copy.name.value_counts()[:10]

None       745
Charlie     12
Cooper      11
Oliver      11
Lucy        11
Lola        10
Tucker      10
Penny       10
Winston      9
Bo           9
Name: name, dtype: int64

In [65]:
tweets_csv = tweets_csv_copy.copy()

# -----------------------------------------------------------------------------------------------

### `tweets_csv`: *expanded_urls* com dados faltantes

#### Definição

Retirar os linhas com dados faltantes

#### Código

In [82]:
tweets_csv_copy = tweets_csv.copy()
tweets_csv_copy.dropna(subset=["expanded_urls"], inplace=True)

#### Teste

In [84]:
tweets_csv_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2297 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2297 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2297 non-null datetime64[ns]
source                        2297 non-null object
text                          2297 non-null object
retweeted_status_id           180 non-null float64
retweeted_status_user_id      180 non-null float64
retweeted_status_timestamp    180 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2297 non-null int64
rating_denominator            2297 non-null int64
name                          2235 non-null object
doggo                         2297 non-null object
floofer                       2297 non-null object
pupper                        2297 non-null object
puppo                         2297 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 323.0+ KB

In [85]:
tweets_csv = tweets_csv_copy.copy()

# ------------------------------------------------------------------------------------------------------

### `tweets_csv`: *expanded_urls* está com os valores invalidos

#### Definição

Retirar os link repetidos de cada célula da coluna

#### Código

In [87]:
tweets_csv_copy = tweets_csv.copy()
tweets_csv_copy.expanded_urls = tweets_csv_copy.expanded_urls.apply(lambda url: ",".join(set(url.split(","))))

#### Teste

In [92]:
tweets_csv_copy[tweets_csv_copy.expanded_urls.apply(lambda url: len(url.split(",")) != len(set(url.split(","))))]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [93]:
tweets_csv = tweets_csv_copy.copy()

# -------------------------------------------------------------------------------------------------------

### `tweets_csv` *retweeted_status_timestamp* está com dados inválidos

#### Definição

Retirar a coluna. Essa coluna será criada novamente mais tarde ao ser realizado o merge com a tabela das imagens

#### Código

In [95]:
tweets_csv_copy = tweets_csv.copy()
tweets_csv_copy.drop(labels=["retweeted_status_timestamp"],axis=1,inplace=True)

#### Teste

In [96]:
tweets_csv_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2297 entries, 0 to 2355
Data columns (total 16 columns):
tweet_id                    2297 non-null int64
in_reply_to_status_id       23 non-null float64
in_reply_to_user_id         23 non-null float64
timestamp                   2297 non-null datetime64[ns]
source                      2297 non-null object
text                        2297 non-null object
retweeted_status_id         180 non-null float64
retweeted_status_user_id    180 non-null float64
expanded_urls               2297 non-null object
rating_numerator            2297 non-null int64
rating_denominator          2297 non-null int64
name                        2235 non-null object
doggo                       2297 non-null object
floofer                     2297 non-null object
pupper                      2297 non-null object
puppo                       2297 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(8)
memory usage: 305.1+ KB

In [99]:
tweets_csv = tweets_csv_copy.copy()

## Arrumação

### Definição

`tweets_csv`: Retirar as colunas *doggo*, *floofer*, *pupper* e *puppo*. Criar uma nova coluna setando o tipo de cachorro de acordo com o que estiver no texto do tweet

### Código

In [94]:
df_master.drop(labels=['doggo', 'floofer', 'pupper', 'puppo'], axis=1, inplace=True)

def get_tipo_de_cachorro(texto):
    for tipo in ['doggo', 'floofer', 'pupper', 'puppo']:
        if tipo in texto:
            return tipo
    return pd.np.nan

df_master["type"] = df_master.text.apply(get_tipo_de_cachorro)

### Teste

In [107]:
df_master.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,892420643555336193,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,...,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False
1,892177421306343426,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,...,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2,891815181378084864,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,...,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
3,891689557279858688,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,...,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
4,891327558926688256,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,...,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True

Definição: Juntar as 3 tabelas em uma só. Retirar as colunas *id* e *timestamp*

In [97]:
#code
df_master = df_master.merge(tweets_json, left_on="tweet_id", right_on="id")
df_master = df_master.merge(imagens, on="tweet_id")
df_master.drop(labels=["id","timestamp"],axis=1,inplace=True)

In [104]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2052 entries, 0 to 2051
Data columns (total 27 columns):
tweet_id                      2052 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
source                        2052 non-null object
text                          2052 non-null object
retweeted_status_id           75 non-null float64
retweeted_status_user_id      75 non-null float64
retweeted_status_timestamp    75 non-null object
expanded_urls                 2052 non-null object
rating_numerator              2052 non-null int64
rating_denominator            2052 non-null int64
name                          2052 non-null object
type                          333 non-null object
created_at                    2052 non-null datetime64[ns]
favorite_count                2052 non-null int64
retweet_count                 2052 non-null int64
jpg_url                       2052 non-null object
img_num                       2052 non-null int64
p1                            2052 non-null object
p1_conf                       2052 non-null float64
p1_dog                        2052 non-null bool
p2                            2052 non-null object
p2_conf                       2052 non-null float64
p2_dog                        2052 non-null bool
p3                            2052 non-null object
p3_conf                       2052 non-null float64
p3_dog                        2052 non-null bool
dtypes: bool(3), datetime64[ns](1), float64(7), int64(6), object(10)
memory usage: 406.8+ KB

In [105]:
#teste
df_master.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,892420643555336193,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,...,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False
1,892177421306343426,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,...,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2,891815181378084864,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,...,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True

## Arrumação

### Tabela *tweets_csv*

In [ ]:
def get_tipo_de_cachorro(texto):
    for tipo in ['doggo', 'floofer', 'pupper', 'puppo']:
        if tipo in texto:
            return tipo
    return pd.np.nan

In [173]:
 - Variáveis como nome de colunas

tweets_csv.columns

### Todas as tabelas

- Todas as tabelas devem ser juntadas em uma só

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 11)