In [1]:
import pandas as pd
import requests as req
import json
import tweepy

# COLETA

###### - Arquivo csv de tweets

In [98]:
tweets_csv = pd.read_csv("twitter-archive-enhanced.csv")

###### - Arquivo csv com as imagens de catioros

In [77]:
url_imagens = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
imagens = pd.read_csv(url_imagens, sep='\t')

###### - Extração de dados de dados através da tweepy

In [6]:
tweepy.api.wait_on_rate_limit = True
tweepy.api.wait_on_rate_limit_notify = True
consumer_key="jDCXqOTGUFOLYhva104lu2mh6"
consumer_secret="WAPwLXLz1nAQj9nlLS3wySdyOkB90MnzilhkbxZfZz7RomxvrA"
access_token="3057900345-XEe3BgtH7PuDg0ExtBFsmrBpBphONnG4SXUUiir"
access_token_secret="ZLgmkF8iBRFb61v341adAnPJwJIb3bgV1FJK0ulYDEdiU"
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

#### O código abaixo extrai os tweets. Processo demorado

In [30]:
#tweets_json = []
#for id_tweet in tweets.tweet_id:
#    try:
#        tweet = api.get_status(id_tweet, tweet_mode='extended')._json
#        tweets_json.append(tweet)
#    except tweepy.TweepError:
#        continue

#### A especifição do projeto fala para o arquivo ser guardado no formato .txt, com os dados de cada tweet sendo escrido em um linha. Eu optei por mander o formato .json

In [71]:
with open("tweets.json","w") as file:
    json.dump(tweets_json, file)

#### Carregamento do json em um dataframe

In [72]:
tweets_json = pd.read_json("tweets.json")[["id","created_at","favorite_count","retweet_count"]]

In [73]:
tweets_json.head()

                   id          created_at  favorite_count  retweet_count
0  892420643555336193 2017-08-01 16:23:56           38055           8323
1  892177421306343426 2017-08-01 00:17:27           32672           6150
2  891815181378084864 2017-07-31 00:18:03           24584           4068
3  891689557279858688 2017-07-30 15:58:51           41411           8470
4  891327558926688256 2017-07-29 16:00:24           39585           9165

# Avaliação

## Qualidade 
### Tabela *tweets_csv*

- Variável *timestamp* está com o formato incorreto

In [99]:
tweets_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

- Variável *retweeted_status_timestamp* está com dados inválidos

In [94]:
tweets_csv.retweeted_status_timestamp.str.contains("[a-zA-Z]*").values[15:25]

array([nan, nan, nan, nan, True, nan, nan, nan, nan, nan], dtype=object)

In [104]:
imagens.loc[0]

tweet_id                                 666020888022790149
jpg_url     https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg
img_num                                                   1
p1                                   Welsh_springer_spaniel
p1_conf                                            0.465074
p1_dog                                                 True
p2                                                   collie
p2_conf                                            0.156665
p2_dog                                                 True
p3                                        Shetland_sheepdog
p3_conf                                           0.0614285
p3_dog                                                 True
Name: 0, dtype: object

In [103]:
tweets_csv.head(20).puppo

0      None
1      None
2      None
3      None
4      None
5      None
6      None
7      None
8      None
9      None
10     None
11     None
12    puppo
13     None
14    puppo
15     None
16     None
17     None
18     None
19     None
Name: puppo, dtype: object

In [105]:
tweets_csv.loc[0]

tweet_id                                                     892420643555336193
in_reply_to_status_id                                                       NaN
in_reply_to_user_id                                                         NaN
timestamp                                             2017-08-01 16:23:56 +0000
source                        <a href="http://twitter.com/download/iphone" r...
text                          This is Phineas. He's a mystical boy. Only eve...
retweeted_status_id                                                         NaN
retweeted_status_user_id                                                    NaN
retweeted_status_timestamp                                                  NaN
expanded_urls                 https://twitter.com/dog_rates/status/892420643...
rating_numerator                                                             13
rating_denominator                                                           10
name                                                                    Phineas
doggo                                                                      None
floofer                                                                    None
pupper                                                                     None
puppo                                                                      None
Name: 0, dtype: object

## Arrumação

### Tabela *tweets_csv*

 - Variáveis como nome de colunas

In [106]:
tweets_csv.columns[-4:]

Index(['doggo', 'floofer', 'pupper', 'puppo'], dtype='object')

In [107]:
tweets_csv_copy = tweets_csv.copy()

In [ ]:
tweets_csv_copy.melt(tweets_csv.columns[-4:], value_vars=)

#### Todas as tabelas

- Todas as tabelas devem ser juntadas em uma só