In [159]:
import pandas as pd
import requests as req
import json
import tweepy
import re

# COLETA

###### - Arquivo csv de tweets

In [313]:
tweets_csv = pd.read_csv("twitter-archive-enhanced.csv")

In [314]:
tweets_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

###### - Arquivo csv com as imagens de catioros

In [161]:
url_imagens = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
imagens = pd.read_csv(url_imagens, sep='\t')

KeyboardInterrupt:

###### - Extração de dados de dados através da tweepy

In [256]:
tweepy.api.wait_on_rate_limit = True
tweepy.api.wait_on_rate_limit_notify = True
consumer_key="jDCXqOTGUFOLYhva104lu2mh6"
consumer_secret="WAPwLXLz1nAQj9nlLS3wySdyOkB90MnzilhkbxZfZz7RomxvrA"
access_token="3057900345-XEe3BgtH7PuDg0ExtBFsmrBpBphONnG4SXUUiir"
access_token_secret="ZLgmkF8iBRFb61v341adAnPJwJIb3bgV1FJK0ulYDEdiU"
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

#### O código abaixo extrai os tweets. Processo demorado

In [257]:
#tweets_json = []
#for id_tweet in tweets.tweet_id:
#    try:
#        tweet = api.get_status(id_tweet, tweet_mode='extended')._json
#        tweets_json.append(tweet)
#    except tweepy.TweepError:
#        continue

#### A especifição do projeto fala para o arquivo ser guardado no formato .txt, com os dados de cada tweet sendo escrido em um linha. Eu optei por manter o formato .json

In [258]:
#with open("tweets.json","w") as file:
#    json.dump(tweets_json, file)

#### Carregamento do json em um dataframe

In [259]:
tweets_json = pd.read_json("tweets.json")[["id","created_at","favorite_count","retweet_count"]]

# Avaliação

In [260]:
tweets_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [261]:
tweets_csv.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [262]:
tweets_csv.name.value_counts()[:20]

None       745
a           55
Charlie     12
Oliver      11
Cooper      11
Lucy        11
Lola        10
Tucker      10
Penny       10
Winston      9
Bo           9
Sadie        8
the          8
an           7
Buddy        7
Daisy        7
Bailey       7
Toby         7
Jax          6
Leo          6
Name: name, dtype: int64

In [263]:
tweets_csv.expanded_urls[4]

'https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1'

In [264]:
tweets_csv.retweeted_status_timestamp.str.contains("[a-zA-Z]*").values[15:25]

array([nan, nan, nan, nan, True, nan, nan, nan, nan, nan], dtype=object)

In [265]:
tweets_csv[tweets_csv.rating_numerator < 10].iloc[0]

tweet_id                                                     883482846933004288
in_reply_to_status_id                                                       NaN
in_reply_to_user_id                                                         NaN
timestamp                                             2017-07-08 00:28:19 +0000
source                        <a href="http://twitter.com/download/iphone" r...
text                          This is Bella. She hopes her smile made you sm...
retweeted_status_id                                                         NaN
retweeted_status_user_id                                                    NaN
retweeted_status_timestamp                                                  NaN
expanded_urls                 https://twitter.com/dog_rates/status/883482846...
rating_numerator                                                              5
rating_denominator                                                           10
name                                                                      Bella
doggo                                                                      None
floofer                                                                    None
pupper                                                                     None
puppo                                                                      None
Name: 45, dtype: object

In [266]:
tweets_csv.sort_values(by="rating_numerator").iloc[0]

tweet_id                                                     835152434251116546
in_reply_to_status_id                                                       NaN
in_reply_to_user_id                                                         NaN
timestamp                                             2017-02-24 15:40:31 +0000
source                        <a href="http://twitter.com/download/iphone" r...
text                          When you're so blinded by your systematic plag...
retweeted_status_id                                                         NaN
retweeted_status_user_id                                                    NaN
retweeted_status_timestamp                                                  NaN
expanded_urls                 https://twitter.com/dog_rates/status/835152434...
rating_numerator                                                              0
rating_denominator                                                           10
name                                                                       None
doggo                                                                      None
floofer                                                                    None
pupper                                                                     None
puppo                                                                      None
Name: 315, dtype: object

In [267]:
tweets_csv[tweets_csv.rating_denominator != 10].head(3).iloc[0][5]

"@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho"

## Qualidade 
### Tabela *tweets_csv*

- *timestamp* com o formato errado
- *retweeted_status_user_id* e *retweeted_status_id* com dados faltantes
- *name* possui palavras que não são nome próprios - a, an 
- *expanded_urls* está com os valores invalidos
- *expanded_urls* com dados faltantes
- *retweeted_status_timestamp* está com dados inválidos
- *rating_numerator* com valores inválidos
- *rating_denominator* com valores inválidos

## Arrumação
### Tabela *tweets_csv*
- Variáveis como nome de colunas

### Todas as tabelas
- Uma mesma unidade observacional separada em 3 tabelas

# Limpeza

## Qualidade

### 1 - `tweets_csv`: Variável *timestamp* com o formato errado

#### Definição: trocar o formato de *timestamp* pra pd.datetime

#### Código

In [268]:
tweets_csv_copy = tweets_csv.copy()

In [269]:
def get_data(string):
    string = string[:10].split("-")
    return pd.datetime(int(string[0]), int(string[1]), int(string[2]))

In [270]:
tweets_csv_copy.timestamp = tweets_csv_copy.timestamp.apply(get_data)

#### Teste

In [271]:
tweets_csv_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null datetime64[ns]
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 313.0+ KB

In [272]:
tweets_csv = tweets_csv_copy.copy()

# -----------------------------------------------------------------------------------------------------------

### 2- `tweets_csv`: *tweet_id* está com formato diferente de *retweeted_status_user_id* e *retweeted_status_id*

#### Definição

Extrair as linha com nan em *retweet_status_user_id* e *retweeted_status_id* e excluir essa colunas

#### Código:

In [273]:
tweets_csv_copy = tweets_csv.copy()

In [274]:
tweets_csv_copy = tweets_csv_copy[tweets_csv_copy.isna()["retweeted_status_user_id"]]

In [275]:
tweets_csv_copy.drop(labels=["retweeted_status_user_id","retweeted_status_id"],axis=1,inplace=True)

#### Teste

In [276]:
tweets_csv_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 15 columns):
tweet_id                      2175 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2175 non-null datetime64[ns]
source                        2175 non-null object
text                          2175 non-null object
retweeted_status_timestamp    0 non-null object
expanded_urls                 2117 non-null object
rating_numerator              2175 non-null int64
rating_denominator            2175 non-null int64
name                          2175 non-null object
doggo                         2175 non-null object
floofer                       2175 non-null object
pupper                        2175 non-null object
puppo                         2175 non-null object
dtypes: datetime64[ns](1), float64(2), int64(3), object(9)
memory usage: 271.9+ KB

In [277]:
tweets_csv = tweets_csv_copy.copy()

# --------------------------------------------------------------------------------------------------

### 3- `tweets_csv`: *name* possui palavras que não são nomes próprios - a, an

#### Definição: Trocar os nomes *a* e *an* por nan

#### Código

In [278]:
tweets_csv_copy = tweets_csv.copy()
tweets_csv_copy.name.replace(to_replace=["a","an"],value=pd.np.nan, inplace=True)

#### Teste

In [279]:
tweets_csv_copy.name.value_counts()[:10]

None       680
Lucy        11
Charlie     11
Cooper      10
Oliver      10
Penny        9
Tucker       9
Lola         8
Sadie        8
the          8
Name: name, dtype: int64

In [280]:
tweets_csv = tweets_csv_copy.copy()

# -----------------------------------------------------------------------------------------------

### 4- `tweets_csv`: *expanded_urls* com dados faltantes

#### Definição

Retirar os linhas com dados faltantes

#### Código

In [281]:
tweets_csv_copy = tweets_csv.copy()
tweets_csv_copy.dropna(subset=["expanded_urls"], inplace=True)

#### Teste

In [282]:
tweets_csv_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2117 entries, 0 to 2355
Data columns (total 15 columns):
tweet_id                      2117 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2117 non-null datetime64[ns]
source                        2117 non-null object
text                          2117 non-null object
retweeted_status_timestamp    0 non-null object
expanded_urls                 2117 non-null object
rating_numerator              2117 non-null int64
rating_denominator            2117 non-null int64
name                          2056 non-null object
doggo                         2117 non-null object
floofer                       2117 non-null object
pupper                        2117 non-null object
puppo                         2117 non-null object
dtypes: datetime64[ns](1), float64(2), int64(3), object(9)
memory usage: 264.6+ KB

In [283]:
tweets_csv = tweets_csv_copy.copy()

# ------------------------------------------------------------------------------------------------------

### 5- `tweets_csv`: *expanded_urls* está com os valores invalidos

#### Definição

Retirar os link repetidos de cada célula da coluna

#### Código

In [284]:
tweets_csv_copy = tweets_csv.copy()
tweets_csv_copy.expanded_urls = tweets_csv_copy.expanded_urls.apply(lambda url: ",".join(set(url.split(","))))

#### Teste

In [285]:
tweets_csv_copy[tweets_csv_copy.expanded_urls.apply(lambda url: len(url.split(",")) != len(set(url.split(","))))]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [286]:
tweets_csv = tweets_csv_copy.copy()

# -------------------------------------------------------------------------------------------------------

### 6- `tweets_csv` *retweeted_status_timestamp* está com dados inválidos

#### Definição

Retirar a coluna. Essa coluna será criada novamente mais tarde ao ser realizado o merge com a tabela das imagens

#### Código

In [287]:
tweets_csv_copy = tweets_csv.copy()
tweets_csv_copy.drop(labels=["retweeted_status_timestamp"],axis=1,inplace=True)

#### Teste

In [288]:
tweets_csv_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2117 entries, 0 to 2355
Data columns (total 14 columns):
tweet_id                 2117 non-null int64
in_reply_to_status_id    23 non-null float64
in_reply_to_user_id      23 non-null float64
timestamp                2117 non-null datetime64[ns]
source                   2117 non-null object
text                     2117 non-null object
expanded_urls            2117 non-null object
rating_numerator         2117 non-null int64
rating_denominator       2117 non-null int64
name                     2056 non-null object
doggo                    2117 non-null object
floofer                  2117 non-null object
pupper                   2117 non-null object
puppo                    2117 non-null object
dtypes: datetime64[ns](1), float64(2), int64(3), object(8)
memory usage: 248.1+ KB

In [289]:
tweets_csv = tweets_csv_copy.copy()

# --------------------------------------------------------------------------------------------------

### 7- `tweets_csv`: *rating_numerator* com valores inválidos

#### Definição

Retirar os valores corretos através do coluna *text* usando regex

#### Código

In [294]:
tweets_csv_copy = tweets_csv.copy()

In [295]:
tweets_csv_copy.rating_numerator = tweets_csv_copy.text.str.extract("([0-9]*?\.?[0-9]*?)/[0-9]+")

In [296]:
tweets_csv_copy.rating_numerator = tweets_csv_copy.rating_numerator.astype("float")

#### Teste

In [297]:
tweets_csv_copy.loc[tweets_csv[tweets_csv.rating_numerator < 10].index].rating_numerator

45      13.5
229      6.0
315      0.0
730      5.0
765      3.0
814      7.0
835      8.0
845      9.0
859      8.0
883      4.0
896      7.0
906      9.0
912      4.0
915      8.0
936      8.0
946      9.0
948      8.0
956      5.0
964      8.0
966      9.0
987      8.0
993      6.0
998      7.0
1002     8.0
1004     4.0
1016     0.0
1025     0.9
1029     7.0
1031     9.0
1035     9.0
        ...
2312     5.0
2314     8.0
2315     8.0
2316     4.0
2317     9.0
2319     9.0
2320     7.0
2322     6.0
2323     7.0
2326     2.0
2327     7.0
2328     9.0
2330     6.0
2331     8.0
2333     9.0
2334     3.0
2335     1.0
2338     1.0
2340     8.0
2341     9.0
2342     6.0
2344     9.0
2346     8.0
2347     9.0
2349     2.0
2351     5.0
2352     6.0
2353     9.0
2354     7.0
2355     8.0
Name: rating_numerator, Length: 421, dtype: float64

In [298]:
tweets_csv = tweets_csv_copy.copy()

# -----------------------------------------------------------------------------------------------

### 8- `tweets_csv`: *rating_denominator* com valores inválidos

#### Definição

Retirar os valores corretos de *text* usando regex

#### Código

In [299]:
tweets_csv_copy = tweets_csv.copy()

In [300]:
tweets_csv_copy.rating_denominator = tweets_csv_copy.text.str.extract("[0-9]+\.?[0-9]*?/([0-9]+)")

In [301]:
tweets_csv_copy.rating_denominator = tweets_csv_copy.rating_denominator.astype("int")

#### Teste

In [302]:
tweets_csv_copy.rating_denominator

0       10
1       10
2       10
3       10
4       10
5       10
6       10
7       10
8       10
9       10
10      10
11      10
12      10
13      10
14      10
15      10
16      10
17      10
18      10
20      10
21      10
22      10
23      10
24      10
25      10
26      10
27      10
28      10
29      10
31      10
        ..
2326    10
2327    10
2328    10
2329    10
2330    10
2331    10
2332    10
2333    10
2334    10
2335     2
2336    10
2337    10
2338    10
2339    10
2340    10
2341    10
2342    10
2343    10
2344    10
2345    10
2346    10
2347    10
2348    10
2349    10
2350    10
2351    10
2352    10
2353    10
2354    10
2355    10
Name: rating_denominator, Length: 2117, dtype: int64

In [303]:
tweets_csv = tweets_csv_copy.copy()

## Arrumação

In [304]:
df_master = tweets_csv.copy()

### 1 - `tweets_csv`: Variáveis como nomes de colunas

#### Definição

Retirar as colunas *doggo*, *floofer*, *pupper* e *puppo*. Criar uma nova coluna setando o tipo de cachorro de acordo com o que estiver no texto do tweet

#### Código

In [305]:
df_master.drop(labels=['doggo', 'floofer', 'pupper', 'puppo'], axis=1, inplace=True)

def get_tipo_de_cachorro(texto):
    for tipo in ['doggo', 'floofer', 'pupper', 'puppo']:
        if tipo in texto:
            return tipo
    return pd.np.nan

df_master["type"] = df_master.text.apply(get_tipo_de_cachorro)

### Teste

In [307]:
df_master.head(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,type
0,892420643555336193,NaN,NaN,2017-08-01,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13.0,10,Phineas,NaN
1,892177421306343426,NaN,NaN,2017-08-01,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13.0,10,Tilly,NaN
2,891815181378084864,NaN,NaN,2017-07-31,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12.0,10,Archie,NaN
3,891689557279858688,NaN,NaN,2017-07-30,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13.0,10,Darla,NaN
4,891327558926688256,NaN,NaN,2017-07-29,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12.0,10,Franklin,NaN
5,891087950875897856,NaN,NaN,2017-07-29,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,https://twitter.com/dog_rates/status/891087950...,13.0,10,None,NaN
6,890971913173991426,NaN,NaN,2017-07-28,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13.0,10,Jax,NaN
7,890729181411237888,NaN,NaN,2017-07-28,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,https://twitter.com/dog_rates/status/890729181...,13.0,10,None,NaN
8,890609185150312448,NaN,NaN,2017-07-27,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,https://twitter.com/dog_rates/status/890609185...,13.0,10,Zoey,NaN
9,890240255349198849,NaN,NaN,2017-07-26,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,https://twitter.com/dog_rates/status/890240255...,14.0,10,Cassie,doggo

### 2 - Todas as tabelas devem ficar juntas

#### Definição

Juntar as 3 tabelas em uma só. Retirar as colunas *id* e *timestamp*

In [308]:
#code
df_master = df_master.merge(tweets_json, left_on="tweet_id", right_on="id")
df_master = df_master.merge(imagens, on="tweet_id")
df_master.drop(labels=["id","timestamp"],axis=1,inplace=True)

In [309]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1977 entries, 0 to 1976
Data columns (total 24 columns):
tweet_id                 1977 non-null int64
in_reply_to_status_id    23 non-null float64
in_reply_to_user_id      23 non-null float64
source                   1977 non-null object
text                     1977 non-null object
expanded_urls            1977 non-null object
rating_numerator         1977 non-null float64
rating_denominator       1977 non-null int64
name                     1917 non-null object
type                     321 non-null object
created_at               1977 non-null datetime64[ns]
favorite_count           1977 non-null int64
retweet_count            1977 non-null int64
jpg_url                  1977 non-null object
img_num                  1977 non-null int64
p1                       1977 non-null object
p1_conf                  1977 non-null float64
p1_dog                   1977 non-null bool
p2                       1977 non-null object
p2_conf                  1977 non-null float64
p2_dog                   1977 non-null bool
p3                       1977 non-null object
p3_conf                  1977 non-null float64
p3_dog                   1977 non-null bool
dtypes: bool(3), datetime64[ns](1), float64(6), int64(5), object(9)
memory usage: 345.6+ KB

In [310]:
#teste
df_master.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,source,text,expanded_urls,rating_numerator,rating_denominator,name,type,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,892420643555336193,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13.0,10,Phineas,NaN,...,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False
1,892177421306343426,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13.0,10,Tilly,NaN,...,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2,891815181378084864,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12.0,10,Archie,NaN,...,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True

In [312]:
df_master.to_csv("twitter_archive_master.csv")