<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Imports" data-toc-modified-id="Imports-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Coleta" data-toc-modified-id="Coleta-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Coleta</a></span><ul class="toc-item"><li><span><a href="#Arquivo-csv-de-tweets" data-toc-modified-id="Arquivo-csv-de-tweets-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Arquivo csv de tweets</a></span></li><li><span><a href="#Arquivo-csv-com-as-imagens-de-catioros" data-toc-modified-id="Arquivo-csv-com-as-imagens-de-catioros-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Arquivo csv com as imagens de catioros</a></span></li><li><span><a href="#Extração-de-tweets" data-toc-modified-id="Extração-de-tweets-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Extração de tweets</a></span></li><li><span><a href="#Salvamento-dos-tweets" data-toc-modified-id="Salvamento-dos-tweets-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Salvamento dos tweets</a></span></li><li><span><a href="#Carregamento-dos-tweets" data-toc-modified-id="Carregamento-dos-tweets-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Carregamento dos tweets</a></span></li></ul></li><li><span><a href="#Avaliação" data-toc-modified-id="Avaliação-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Avaliação</a></span><ul class="toc-item"><li><span><a href="#Qualidade" data-toc-modified-id="Qualidade-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Qualidade</a></span><ul class="toc-item"><li><span><a href="#Tabela-tweets_csv" data-toc-modified-id="Tabela-tweets_csv-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Tabela <em>tweets_csv</em></a></span></li></ul></li><li><span><a href="#Arrumação" data-toc-modified-id="Arrumação-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Arrumação</a></span><ul class="toc-item"><li><span><a href="#Tabela-tweets_csv" data-toc-modified-id="Tabela-tweets_csv-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Tabela <em>tweets_csv</em></a></span></li><li><span><a href="#Todas-as-tabelas" data-toc-modified-id="Todas-as-tabelas-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Todas as tabelas</a></span></li></ul></li></ul></li><li><span><a href="#Limpeza" data-toc-modified-id="Limpeza-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Limpeza</a></span><ul class="toc-item"><li><span><a href="#Qualidade" data-toc-modified-id="Qualidade-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Qualidade</a></span><ul class="toc-item"><li><span><a href="#tweets_csv:-Variável-timestamp-com-o-formato-errado" data-toc-modified-id="tweets_csv:-Variável-timestamp-com-o-formato-errado-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span><code>tweets_csv</code>: Variável <em>timestamp</em> com o formato errado</a></span><ul class="toc-item"><li><span><a href="#Definição" data-toc-modified-id="Definição-4.1.1.1"><span class="toc-item-num">4.1.1.1&nbsp;&nbsp;</span>Definição</a></span></li><li><span><a href="#Código" data-toc-modified-id="Código-4.1.1.2"><span class="toc-item-num">4.1.1.2&nbsp;&nbsp;</span>Código</a></span></li><li><span><a href="#Teste" data-toc-modified-id="Teste-4.1.1.3"><span class="toc-item-num">4.1.1.3&nbsp;&nbsp;</span>Teste</a></span></li></ul></li><li><span><a href="#tweets_csv:-tweet_id-está-com-formato-diferente-de-retweeted_status_user_id-e-retweeted_status_id" data-toc-modified-id="tweets_csv:-tweet_id-está-com-formato-diferente-de-retweeted_status_user_id-e-retweeted_status_id-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span><code>tweets_csv</code>: tweet_id está com formato diferente de retweeted_status_user_id e retweeted_status_id</a></span><ul class="toc-item"><li><span><a href="#Definição" data-toc-modified-id="Definição-4.1.2.1"><span class="toc-item-num">4.1.2.1&nbsp;&nbsp;</span>Definição</a></span></li><li><span><a href="#Código" data-toc-modified-id="Código-4.1.2.2"><span class="toc-item-num">4.1.2.2&nbsp;&nbsp;</span>Código</a></span></li><li><span><a href="#Teste" data-toc-modified-id="Teste-4.1.2.3"><span class="toc-item-num">4.1.2.3&nbsp;&nbsp;</span>Teste</a></span></li></ul></li><li><span><a href="#tweets_csv:-name-possui-palavras-que-não-são-nomes-próprios---a,-an" data-toc-modified-id="tweets_csv:-name-possui-palavras-que-não-são-nomes-próprios---a,-an-4.1.3"><span class="toc-item-num">4.1.3&nbsp;&nbsp;</span><code>tweets_csv</code>: <em>name</em> possui palavras que não são nomes próprios - a, an</a></span><ul class="toc-item"><li><span><a href="#Definição" data-toc-modified-id="Definição-4.1.3.1"><span class="toc-item-num">4.1.3.1&nbsp;&nbsp;</span>Definição</a></span></li><li><span><a href="#Código" data-toc-modified-id="Código-4.1.3.2"><span class="toc-item-num">4.1.3.2&nbsp;&nbsp;</span>Código</a></span></li><li><span><a href="#Teste" data-toc-modified-id="Teste-4.1.3.3"><span class="toc-item-num">4.1.3.3&nbsp;&nbsp;</span>Teste</a></span></li></ul></li><li><span><a href="#tweets_csv:-expanded_urls-com-dados-faltantes" data-toc-modified-id="tweets_csv:-expanded_urls-com-dados-faltantes-4.1.4"><span class="toc-item-num">4.1.4&nbsp;&nbsp;</span><code>tweets_csv</code>: <em>expanded_urls</em> com dados faltantes</a></span><ul class="toc-item"><li><span><a href="#Definição" data-toc-modified-id="Definição-4.1.4.1"><span class="toc-item-num">4.1.4.1&nbsp;&nbsp;</span>Definição</a></span></li><li><span><a href="#Código" data-toc-modified-id="Código-4.1.4.2"><span class="toc-item-num">4.1.4.2&nbsp;&nbsp;</span>Código</a></span></li><li><span><a href="#Teste" data-toc-modified-id="Teste-4.1.4.3"><span class="toc-item-num">4.1.4.3&nbsp;&nbsp;</span>Teste</a></span></li></ul></li><li><span><a href="#tweets_csv:-expanded_urls-está-com-os-valores-invalidos" data-toc-modified-id="tweets_csv:-expanded_urls-está-com-os-valores-invalidos-4.1.5"><span class="toc-item-num">4.1.5&nbsp;&nbsp;</span><code>tweets_csv</code>: <em>expanded_urls</em> está com os valores invalidos</a></span><ul class="toc-item"><li><span><a href="#Definição" data-toc-modified-id="Definição-4.1.5.1"><span class="toc-item-num">4.1.5.1&nbsp;&nbsp;</span>Definição</a></span></li><li><span><a href="#Código" data-toc-modified-id="Código-4.1.5.2"><span class="toc-item-num">4.1.5.2&nbsp;&nbsp;</span>Código</a></span></li><li><span><a href="#Teste" data-toc-modified-id="Teste-4.1.5.3"><span class="toc-item-num">4.1.5.3&nbsp;&nbsp;</span>Teste</a></span></li></ul></li><li><span><a href="#tweets_csv:-retweeted_status_timestamp-está-com-dados-inválidos" data-toc-modified-id="tweets_csv:-retweeted_status_timestamp-está-com-dados-inválidos-4.1.6"><span class="toc-item-num">4.1.6&nbsp;&nbsp;</span><code>tweets_csv</code>: <em>retweeted_status_timestamp</em> está com dados inválidos</a></span><ul class="toc-item"><li><span><a href="#Definição" data-toc-modified-id="Definição-4.1.6.1"><span class="toc-item-num">4.1.6.1&nbsp;&nbsp;</span>Definição</a></span></li><li><span><a href="#Código" data-toc-modified-id="Código-4.1.6.2"><span class="toc-item-num">4.1.6.2&nbsp;&nbsp;</span>Código</a></span></li><li><span><a href="#Teste" data-toc-modified-id="Teste-4.1.6.3"><span class="toc-item-num">4.1.6.3&nbsp;&nbsp;</span>Teste</a></span></li></ul></li></ul></li><li><span><a href="#Arrumação" data-toc-modified-id="Arrumação-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Arrumação</a></span><ul class="toc-item"><li><span><a href="#tweets_csv:-Retirar-as-colunas-doggo,-floofer,-pupper-e-puppo" data-toc-modified-id="tweets_csv:-Retirar-as-colunas-doggo,-floofer,-pupper-e-puppo-4.2.1"><span class="toc-item-num">4.2.1&nbsp;&nbsp;</span><code>tweets_csv</code>: Retirar as colunas doggo, floofer, pupper e puppo</a></span><ul class="toc-item"><li><span><a href="#Definição" data-toc-modified-id="Definição-4.2.1.1"><span class="toc-item-num">4.2.1.1&nbsp;&nbsp;</span>Definição</a></span></li><li><span><a href="#Código" data-toc-modified-id="Código-4.2.1.2"><span class="toc-item-num">4.2.1.2&nbsp;&nbsp;</span>Código</a></span></li><li><span><a href="#Teste" data-toc-modified-id="Teste-4.2.1.3"><span class="toc-item-num">4.2.1.3&nbsp;&nbsp;</span>Teste</a></span></li></ul></li><li><span><a href="#todas-as-tabelas:-Juntar-as-3-tabelas-em-uma-só." data-toc-modified-id="todas-as-tabelas:-Juntar-as-3-tabelas-em-uma-só.-4.2.2"><span class="toc-item-num">4.2.2&nbsp;&nbsp;</span><code>todas as tabelas</code>: Juntar as 3 tabelas em uma só.</a></span><ul class="toc-item"><li><span><a href="#Definição" data-toc-modified-id="Definição-4.2.2.1"><span class="toc-item-num">4.2.2.1&nbsp;&nbsp;</span>Definição</a></span></li><li><span><a href="#Código" data-toc-modified-id="Código-4.2.2.2"><span class="toc-item-num">4.2.2.2&nbsp;&nbsp;</span>Código</a></span></li><li><span><a href="#Teste" data-toc-modified-id="Teste-4.2.2.3"><span class="toc-item-num">4.2.2.3&nbsp;&nbsp;</span>Teste</a></span></li></ul></li></ul></li></ul></li></ul></div>

# Imports

In [1]:
import pandas as pd
import requests as req
import json
import tweepy
import re

# Coleta

## Arquivo csv de tweets

In [2]:
tweets_csv = pd.read_csv("twitter-archive-enhanced.csv")

## Arquivo csv com as imagens de catioros

In [3]:
url_imagens = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
imagens = pd.read_csv(url_imagens, sep='\t')

## Extração de tweets

In [44]:
with open("keys.json") as file: ## https://developer.twitter.com/en/docs/basics/developer-portal/overview
    credenciais = json.load(file)

In [5]:
tweepy.api.wait_on_rate_limit = True
tweepy.api.wait_on_rate_limit_notify = True
consumer_key = credenciais["consumer_key"]
consumer_secret = credenciais["consumer_secret"]
access_token = credenciais["access_token"]
access_token_secret = credenciais["access_token_secret"]
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [6]:
# tweets_json = []
# for id_tweet in tweets_csv.tweet_id:
#     try:
#         tweet = api.get_status(id_tweet, tweet_mode='extended')._json
#         print(tweet)
#         tweets_json.append(tweet)
#     except tweepy.TweepError:
#         continue

## Salvamento dos tweets

A especifição do projeto fala para o arquivo ser guardado no formato .txt, com os dados de cada tweet sendo escrido em um linha. Eu optei por manter o formato .json

In [7]:
# with open("tweets.json","w") as file:
#     json.dump(tweets_json, file)

## Carregamento dos tweets

In [8]:
tweets_json = pd.read_json("tweets.json")[["id","created_at","favorite_count","retweet_count"]]

In [9]:
tweets_json.head()

                   id          created_at  favorite_count  retweet_count
0  892420643555336193 2017-08-01 16:23:56           38055           8323
1  892177421306343426 2017-08-01 00:17:27           32672           6150
2  891815181378084864 2017-07-31 00:18:03           24584           4068
3  891689557279858688 2017-07-30 15:58:51           41411           8470
4  891327558926688256 2017-07-29 16:00:24           39585           9165

# Avaliação

In [10]:
tweets_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [11]:
tweets_csv.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [12]:
tweets_csv.name.value_counts()[:20]

None       745
a           55
Charlie     12
Cooper      11
Oliver      11
Lucy        11
Penny       10
Lola        10
Tucker      10
Winston      9
Bo           9
Sadie        8
the          8
Buddy        7
Toby         7
an           7
Daisy        7
Bailey       7
Oscar        6
Leo          6
Name: name, dtype: int64

In [13]:
tweets_csv.expanded_urls[4]

'https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1'

In [14]:
tweets_csv.retweeted_status_timestamp.str.contains("[a-zA-Z]*").values[15:25]

array([nan, nan, nan, nan, True, nan, nan, nan, nan, nan], dtype=object)

In [15]:
tweets_csv[tweets_csv.rating_numerator < 10].iloc[0]

tweet_id                                                     883482846933004288
in_reply_to_status_id                                                       NaN
in_reply_to_user_id                                                         NaN
timestamp                                             2017-07-08 00:28:19 +0000
source                        <a href="http://twitter.com/download/iphone" r...
text                          This is Bella. She hopes her smile made you sm...
retweeted_status_id                                                         NaN
retweeted_status_user_id                                                    NaN
retweeted_status_timestamp                                                  NaN
expanded_urls                 https://twitter.com/dog_rates/status/883482846...
rating_numerator                                                              5
rating_denominator                                                           10
name                                                                      Bella
doggo                                                                      None
floofer                                                                    None
pupper                                                                     None
puppo                                                                      None
Name: 45, dtype: object

In [16]:
tweets_csv.sort_values(by="rating_numerator").iloc[0]

tweet_id                                                     835152434251116546
in_reply_to_status_id                                                       NaN
in_reply_to_user_id                                                         NaN
timestamp                                             2017-02-24 15:40:31 +0000
source                        <a href="http://twitter.com/download/iphone" r...
text                          When you're so blinded by your systematic plag...
retweeted_status_id                                                         NaN
retweeted_status_user_id                                                    NaN
retweeted_status_timestamp                                                  NaN
expanded_urls                 https://twitter.com/dog_rates/status/835152434...
rating_numerator                                                              0
rating_denominator                                                           10
name                                                                       None
doggo                                                                      None
floofer                                                                    None
pupper                                                                     None
puppo                                                                      None
Name: 315, dtype: object

In [17]:
tweets_csv[tweets_csv.rating_denominator != 10].head(3).iloc[0][5]

"@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho"

## Qualidade 
### Tabela *tweets_csv*

- *timestamp* com o formato errado
- *tweet_id* está com formato diferente de *retweeted_status_user_id* e *retweeted_status_id*
- *name* possui palavras que não são nome próprios - a, an 
- *expanded_urls* está com os valores invalidos
- *expanded_urls* com dados faltantes
- *retweeted_status_timestamp* está com dados inválidos
- *rating_numerator* com valores inválidos
- *rating_denominator* com valores inválidos

## Arrumação
### Tabela *tweets_csv*
- Variáveis como nome de colunas

### Todas as tabelas
- Uma mesma unidade observacional separada em 3 tabelas

# Limpeza

## Qualidade

### `tweets_csv`: Variável *timestamp* com o formato errado

#### Definição

Trocar o formato de *timestamp* pra pd.datetime

#### Código

In [18]:
tweets_csv_copy = tweets_csv.copy()

In [19]:
def get_data(string):
    string = string[:10].split("-")
    return pd.datetime(int(string[0]), int(string[1]), int(string[2]))

In [20]:
tweets_csv_copy.timestamp = tweets_csv_copy.timestamp.apply(get_data)

#### Teste

In [21]:
tweets_csv_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null datetime64[ns]
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 313.0+ KB

In [22]:
tweets_csv = tweets_csv_copy.copy()

### `tweets_csv`: tweet_id está com formato diferente de retweeted_status_user_id e retweeted_status_id

#### Definição

Colocar as 3 colunas com o formato str

#### Código

In [23]:
tweets_csv_copy = tweets_csv.copy()

In [24]:
tweets_csv_copy.tweet_id = tweets_csv_copy.tweet_id.astype("str")
tweets_csv_copy.retweeted_status_id = tweets_csv_copy.retweeted_status_id.astype("str")
tweets_csv_copy.retweeted_status_user_id = tweets_csv_copy.retweeted_status_user_id.astype("str")

#### Teste

In [25]:
tweets_csv_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null object
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null datetime64[ns]
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           2356 non-null object
retweeted_status_user_id      2356 non-null object
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: datetime64[ns](1), float64(2), int64(2), object(12)
memory usage: 313.0+ KB

### `tweets_csv`: *name* possui palavras que não são nomes próprios - a, an

#### Definição

Trocar os nomes *a* e *an* por nan

#### Código

In [26]:
tweets_csv_copy = tweets_csv.copy()
tweets_csv_copy.name.replace(to_replace=["a","an"],value=pd.np.nan, inplace=True)

#### Teste

In [27]:
tweets_csv_copy.name.value_counts()[:10]

None       745
Charlie     12
Cooper      11
Lucy        11
Oliver      11
Tucker      10
Penny       10
Lola        10
Bo           9
Winston      9
Name: name, dtype: int64

In [28]:
tweets_csv = tweets_csv_copy.copy()

### `tweets_csv`: *expanded_urls* com dados faltantes

#### Definição

Retirar os linhas com dados faltantes

#### Código

In [29]:
tweets_csv_copy = tweets_csv.copy()
tweets_csv_copy.dropna(subset=["expanded_urls"], inplace=True)

#### Teste

In [30]:
tweets_csv_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2297 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2297 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2297 non-null datetime64[ns]
source                        2297 non-null object
text                          2297 non-null object
retweeted_status_id           180 non-null float64
retweeted_status_user_id      180 non-null float64
retweeted_status_timestamp    180 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2297 non-null int64
rating_denominator            2297 non-null int64
name                          2235 non-null object
doggo                         2297 non-null object
floofer                       2297 non-null object
pupper                        2297 non-null object
puppo                         2297 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 323.0+ KB

In [31]:
tweets_csv = tweets_csv_copy.copy()

### `tweets_csv`: *expanded_urls* está com os valores invalidos

#### Definição

Retirar os link repetidos de cada célula da coluna

#### Código

In [32]:
tweets_csv_copy = tweets_csv.copy()
tweets_csv_copy.expanded_urls = tweets_csv_copy.expanded_urls.apply(lambda url: ",".join(set(url.split(","))))

#### Teste

In [33]:
tweets_csv_copy[tweets_csv_copy.expanded_urls.apply(lambda url: len(url.split(",")) != len(set(url.split(","))))]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [34]:
tweets_csv = tweets_csv_copy.copy()

### `tweets_csv`: *retweeted_status_timestamp* está com dados inválidos

#### Definição

Retirar a coluna. Essa coluna será criada novamente mais tarde ao ser realizado o merge com a tabela das imagens

#### Código

In [35]:
tweets_csv_copy = tweets_csv.copy()
tweets_csv_copy.drop(labels=["retweeted_status_timestamp"],axis=1,inplace=True)

#### Teste

In [36]:
tweets_csv_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2297 entries, 0 to 2355
Data columns (total 16 columns):
tweet_id                    2297 non-null int64
in_reply_to_status_id       23 non-null float64
in_reply_to_user_id         23 non-null float64
timestamp                   2297 non-null datetime64[ns]
source                      2297 non-null object
text                        2297 non-null object
retweeted_status_id         180 non-null float64
retweeted_status_user_id    180 non-null float64
expanded_urls               2297 non-null object
rating_numerator            2297 non-null int64
rating_denominator          2297 non-null int64
name                        2235 non-null object
doggo                       2297 non-null object
floofer                     2297 non-null object
pupper                      2297 non-null object
puppo                       2297 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(8)
memory usage: 305.1+ KB

In [37]:
tweets_csv = tweets_csv_copy.copy()

## Arrumação

In [38]:
df_master = tweets_csv.copy()

### `tweets_csv`: Retirar as colunas doggo, floofer, pupper e puppo

#### Definição

Criar uma nova coluna setando o tipo de cachorro de acordo com o que estiver no texto do tweet

#### Código

In [39]:
df_master.drop(labels=['doggo', 'floofer', 'pupper', 'puppo'], axis=1, inplace=True)

def get_tipo_de_cachorro(texto):
    for tipo in ['doggo', 'floofer', 'pupper', 'puppo']:
        if tipo in texto:
            return tipo
    return pd.np.nan

df_master["type"] = df_master.text.apply(get_tipo_de_cachorro)

#### Teste

In [40]:
df_master.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,expanded_urls,rating_numerator,rating_denominator,name,type
0,892420643555336193,NaN,NaN,2017-08-01,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,NaN
1,892177421306343426,NaN,NaN,2017-08-01,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,NaN
2,891815181378084864,NaN,NaN,2017-07-31,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,NaN
3,891689557279858688,NaN,NaN,2017-07-30,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,NaN
4,891327558926688256,NaN,NaN,2017-07-29,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,NaN

### `todas as tabelas`: Juntar as 3 tabelas em uma só.

#### Definição

Juntar as tabelas através de um join nas colunas ids

#### Código

In [41]:
df_master = df_master.merge(tweets_json, left_on="tweet_id", right_on="id")
df_master = df_master.merge(imagens, on="tweet_id")
df_master.drop(labels=["id","timestamp"],axis=1,inplace=True)

#### Teste

In [42]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2052 entries, 0 to 2051
Data columns (total 26 columns):
tweet_id                    2052 non-null int64
in_reply_to_status_id       23 non-null float64
in_reply_to_user_id         23 non-null float64
source                      2052 non-null object
text                        2052 non-null object
retweeted_status_id         75 non-null float64
retweeted_status_user_id    75 non-null float64
expanded_urls               2052 non-null object
rating_numerator            2052 non-null int64
rating_denominator          2052 non-null int64
name                        1991 non-null object
type                        333 non-null object
created_at                  2052 non-null datetime64[ns]
favorite_count              2052 non-null int64
retweet_count               2052 non-null int64
jpg_url                     2052 non-null object
img_num                     2052 non-null int64
p1                          2052 non-null object
p1_conf                     2052 non-null float64
p1_dog                      2052 non-null bool
p2                          2052 non-null object
p2_conf                     2052 non-null float64
p2_dog                      2052 non-null bool
p3                          2052 non-null object
p3_conf                     2052 non-null float64
p3_dog                      2052 non-null bool
dtypes: bool(3), datetime64[ns](1), float64(7), int64(6), object(9)
memory usage: 390.8+ KB

In [43]:
#teste
df_master.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,source,text,retweeted_status_id,retweeted_status_user_id,expanded_urls,rating_numerator,rating_denominator,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,892420643555336193,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,...,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False
1,892177421306343426,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,...,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2,891815181378084864,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,...,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True